/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
  background-color: red;
  color: white;
  text-align: center;
  padding: 15px 0;
}

header .logo {
  font-size: 2em;
  font-weight: bold;
}

header .logo span {
  color: yellow;
}

.tagline {
  font-size: 14px;
}

/* Layout */
.container {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  gap: 20px;
}

/* Main Content */
main {
  flex: 3;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

main h1 {
  color: darkblue;
}

main img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Sidebar */
aside {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

aside h2 {
  background: darkred;
  color: white;
  padding: 5px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background: black;
  color: white;
  margin-top: 20px;
}
