* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c9d2fc;
}

.cat-head {
  border: 2px solid #333;
  border-radius: 46%;
  background: #333;
  width: 205px;
  height: 205px;
}
