body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
ul,
li,
a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-size: x-large;
  text-transform: capitalizep;
  color: whitesmoke;
  padding: 2px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.header-1 {
  border: 2px solid black;
  background-color: dodgerblue;
}

.float-1 {
  float: left;
}

.img-1 {
  width: 140px;
  padding: 10px;
  margin-right: 10px;
  clear: both;
}
.img-2 {
  width: 140px;
  padding: 10px;
  margin-left: 10px;
  background-color: red;
}

.float-2 {
  float: left;
  clear: both;
}
